// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:           12;
$sidebar-sm-columns:        4;

// Colors
$brand-primary:             #27ae60;
$basic-color:	              #cd152c;

//Text Styling
$basic-font:	              Lato, sans-serif;
$basic-font-color:          #5a5a5a;


$heading-text-trasnform:    uppercase;
