// Colors

// Glyphicons font path
$icon-font-path:            "../fonts/";

// Grid settings
$main-sm-columns:           12;
$sidebar-sm-columns:        4;

// Colors
$brand-primary:             #ae2732;

// Font Family
$font-family-sans-serif:    "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
<<<<<<< HEAD

$nav-link-hover-bg:	transparent;
=======
>>>>>>> c0aac706e5488b8d021192038e52bd3c5826e975
